@font-face{
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family: roboto-mid;
    src: url(../fonts/Roboto-Medium.ttf);
}
*{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
.container-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic-width{
    width: 360px;
}
.main-box{
    margin-top: 8px;
    width: 360px;
    height: 430px;
    padding: 0px 38px 0px 38px;
    background: url(../images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}
.top-header,
.result,
.comment{
    font-family: roboto-regular;
    color: #ee433a;
    flex: 0 0 100%;
    text-align: center;
}
.emoji{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}
.emoji img{
    width: 153px;
    height: auto;
    padding-right: 5px;
}
.top-header p{
    font-family: roboto-bold;
    font-size: 19px;
    line-height: 22px;
    margin-top: 7px;
}
.result p{
    font-family: roboto-bold;
    font-size: 80px;
}
.comment p{
    font-family: roboto-bold;
    font-size: 19px;
    margin-bottom: 7px;
}

.logo-section{
    background-color: #000;
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #ffff6a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 4px;
}
.logo{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.logo img,
.logo p{
    display: inline-block;
}
.logo P{
    color: #fb4c4c;
    font-family: roboto-bold;
    font-size: 19px;
}
.public-icon{
    position: absolute;
    left: 12px;
    color: #FFFFFF;
    font-size: 27px;
}
.app-item{
    width: 100%;
    display: flex;
    justify-content: center;
}
.app-box{
    width: 93.6111%;
    height: 241px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 15px;
}
.app-cover{
    height: 177px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
.app-cover img{
    width: 100%;
    height: 100%;
}
.app-name{
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-name p{
    color: #3e3e3e;
    display: inline-block;
    font-family: roboto-bold;
    font-size: 19px;
    cursor: pointer;
}
.fb-share-box{
    margin-top: 9px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.share-btn{
    width: 213px;
    height: 46px;
    border-radius: 8px;
    background-color: #3d5999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.share-btn img{
    width: 22px;
    height: 22px;
    margin: 0;
}
.share-btn p{
    color: #FFF;
    font-family: roboto-bold;
    font-size: 20px;
    margin-left: 9px;
    display: inline-block;
}
/*........*/
.play-box{
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.play-btn{
    width: 213px;
    height: 32px;
    border-radius: 8px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.play-btn img{
    width: 21px;
    height: 21px;
    margin: 0;
}
.play-btn p{
    color: #363636;
    font-family: roboto-mid;
    font-size: 19px;
    display: inline-block;
    margin-left: 9px;
}
.check-more-box{
    margin-top: 38px;
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.check-more{
    width: 93.6111%;
}
.check-more p{
    color: #FFF;
    display: inline-block;
    font-family: roboto-bold;
    font-size: 19px;
    cursor: pointer;
}
#love-score{
    margin-top: 16px;
}



@media all and (max-width: 360px){
    .basic-width{
        width: 100%;
    }
    .main-box{
        width: 100%;
        padding: 0% 5% 0% 5%;
    }
}